extends layout 

block content 

    div.wrapper
        h1 #{category.name}
        p #{category.desc}

        div.list-wrapper
            each item in items 
                div.list-card
                    a(href=item.url) 
                        img(src=item.src).list-card-img
                        div.list-card-title #{item.name}
                        div.list-card-category #{item.category.name}
                        div.list-card-desc #{item.desc}
                        div.list-card-price 
                            img(crossorigin="anonymous" src='/images/rs.png').rupees-icon
                            | #{item.price}

            else 
                p There are no items.
        hr
        p.item-button
            a(href=category.url+'/update') Update category